/* Begin: add tree css */
::-webkit-scrollbar {
    display: none;
}
.pull-right {
    float: right !important;
}
.row {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}

.addtree-content {
    font-size: 20px;
    font-style: italic;
    margin: 50px 30px 20px;
    padding: 8px;
}

.addtree-content .form-control {
    font-size: 17px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}

.addtree-content label:hover {
    cursor: pointer;
}

.addtree-content .form-control:focus {
    border: 2px solid #000;
}

.addtree-content .block-img {
    display: block;
    background-color: #ccc;
    height: 200px;
    margin-bottom: 8px;
    background-size: 100%;
}
.addtree-content .block-img img {
    height: 100%;
    width: 100%;
}
.addtree-content .input-date {
    margin: -1px 0px;
}

.col-position {
    position: relative;
}

.col-position .lb-value {
    position: absolute;
    width: 100%;
    display: block;
    border: none;
    padding: 6px;
    top: 0;
    right: 0;
    text-align: right;
    user-select: none;
    color: #ccc;
}

.form-value:focus + .lb-value {
    color: #000;
}

.addtree-content .bnt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    margin-top: 10px;
}

.addtree-content .bnt:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.addtree-content .bnt-img {
    width: 60%;
    position: relative;
    background-color: rgb(9, 249, 117);
    margin: auto;
    overflow: hidden;
}
.addtree-content input[type="file"] {
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.addtree-content .bnt-close {
    width: 45%;
    float: left;
    background-color: rgb(249, 9, 9);
    border: none;
}

.addtree-content .bnt-add {
    width: 45%;
    float: right;
    background-color: rgb(59 130 246);
    border: none;
}

.bnt i {
    font-size: 17px;
    padding-right: 5px;
}

.addtree-content .bnt:focus {
    border: none;
}
/* End: addtree css */
