::-webkit-scrollbar {
    display: none;
}
.row {
    margin-left: 10px;
    margin-right: 10px;
}

.row::after {
    content: " ";
    display: block;
    clear: both;
}

.col {
    float: left;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.pull-right {
    float: right !important;
}
.detailcus-content {
    font-size: 20px;
    font-style: italic;
    margin: 30px;
}

.detailcus-content .form-control {
    display: block;
    height: 37.5px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 30px;
}

.detailcus-content .form-control:focus {
    border: 2px solid #000;
}

.detailcus-content label:hover {
    cursor: pointer;
}
.detailcus-content .id-cus {
    height: 37.5px;
    background-color: #ccc;
}

.detailcus-content .bnt {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 40%;
}

.detailcus-content .bnt:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.detailcus-content .bnt:focus {
    border: none;
}

.detailcus-content .bnt-back {
    float: left;
    background-color: rgb(59 130 246);
}

.bnt i {
    font-size: 17px;
    padding-right: 5px;
}

.detailcus-content .bnt-update {
    float: right;
    background-color: rgb(9, 249, 117);
}
