<!DOCTYPE html>
<html lang="en" class="h-full w-full">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/tailwind.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        />
        <link rel="stylesheet" href="/css/addtree.css" />
    </head>
    <body class="h-full w-full">
        <div class="addtree-content">
            <form action="">
                <div class="row">
                    <div class="col col-half">
                        <label class="unit font-bold" for="name"
                            >Tên cây</label
                        >
                        <input
                            type="text"
                            id="name"
                            class="form-control"
                            required
                        />

                        <label class="unit font-bold" for="type"
                            >Loại cây</label
                        >
                        <input type="text" class="form-control" id="type" />

                        <label class="unit font-bold" for="quantity"
                            >Số lượng</label
                        >
                        <input
                            type="number"
                            value="1"
                            class="form-control"
                            id="quantity"
                            required
                        />
                    </div>

                    <div class="col col-half drag-area">
                        <div class="block-img">
                            <img
                                src=""
                                alt=""
                                id="image"
                                height="200px"
                                class="mb-3"
                            />
                            <button class="form-control bnt bnt-img">
                                Chọn ảnh
                                <input
                                    type="file"
                                    name=""
                                    id="imageFile"
                                    onchange="chooseFile(this)"
                                    accept="image/gif, image/ipeg, image/png"
                                />
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-16">
                    <div class="col col-half">
                        <label class="unit font-bold" for="date"
                            >Ngày thêm</label
                        >
                        <input
                            type="date"
                            class="form-control input-date"
                            id="date"
                        />
                    </div>

                    <div class="col col-half">
                        <label class="unit font-bold" for="value">Giá</label>
                        <div class="col-position">
                            <input
                                type="text"
                                id="value"
                                value="0"
                                class="form-control form-value"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                required
                            />
                            <label for="value" class="form-control lb-value"
                                >VNĐ</label
                            >
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col col-half pull-right">
                        <button
                            type="submit"
                            class="bnt bnt-close form-control"
                        >
                            <span class="button-icon">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </span>
                            <span class="button-text">Hủy</span>
                        </button>

                        <button type="submit" class="bnt bnt-add form-control">
                            <span class="button-icon">
                                <i class="fa-solid fa-circle-plus"></i>
                            </span>
                            <span class="button-text">Thêm</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
            // const dropArea = document.querySelector('.drag-area');
            // const button = dropArea.querySelector('button');
            // const input = dropArea.querySelector('input') ;

            // button.addEventListener('click', ()=>{
            //     input.click();
            // })

            function chooseFile(fileInput) {
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $("#image").attr("src", e.target.result);
                    };
                    reader.readAsDataURL(fileInput.files[0]);
                }
            }
        </script>
    </body>
</html>
