<!DOCTYPE html>
<html lang="en" class="h-full w-full">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/tailwind.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        />
        <link rel="stylesheet" href="/css/detailcustomer.css" />
    </head>
    <body class="h-full w-full">
        <div class="detailcus-content">
            <form action="">
                <div class="row">
                    <div class="col col-half">
                        <label class="font-bold">Mã khách hàng</label>
                        <div class="form-control id-cus" id="id-cus"></div>

                        <label class="font-bold" for="phone-number"
                            >Số điện thoại</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="phone-number"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        />

                        <label class="font-bold" for="name-cus"
                            >Tên khách hàng</label
                        >
                        <input type="text" class="form-control" id="name-cus" />
                    </div>
                </div>

                <div class="row">
                    <div class="col col-full">
                        <label class="font-bold" for="address">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" />
                    </div>
                </div>

                <div class="row">
                    <div class="col col-half pull-right">
                        <button type="submit" class="bnt bnt-back form-control">
                            <span class="button-icon">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </span>
                            <span class="button-text">Quay lại </span>
                        </button>

                        <button
                            type="submit"
                            class="bnt bnt-update form-control"
                        >
                            <span class="button-icon">
                                <i class="fa-solid fa-circle-plus"></i>
                            </span>
                            <span class="button-text">Cập nhật</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
