<!DOCTYPE html>
<html lang="en" class="h-full w-full">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/tailwind.css" />
        <link rel="stylesheet" href="/css/listtree.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
        <link rel="stylesheet" href="/css/addtree.css" />
    </head>
    <body class="h-full w-full">
        <div class="list_tree_main_window">
            <div class="main_window__table_tree">
                <h1 class="text-3xl font-bold text-slate-900">Danh sách cây</h1>
                <table class="mt-4 w-full">
                    <!-- Nhóm các column -->
                    <colgroup>
                        <col span="1" style="width: 10%" />
                        <col span="1" style="width: 20%" />
                        <col span="1" style="width: 20%" />
                        <col span="1" style="width: 20%" />
                        <col span="1" style="width: 20%" />
                        <col span="1" style="width: 10%" />
                    </colgroup>

                    <!-- Content thead, tbody -->
                    <thead class="h-11 bg-blue-500 text-white">
                        <tr>
                            <th scope="col" class="heading_cell">STT</th>
                            <th scope="col" class="heading_cell">Mã số</th>
                            <th scope="col" class="heading_cell">Loại cây</th>
                            <th scope="col" class="heading_cell">Tên cây</th>
                            <th scope="col" class="heading_cell">Giá (VND)</th>
                            <th scope="col" class="heading_cell"></th>
                        </tr>
                    </thead>

                    <tbody class="list_tree_body">
                        <tr>
                            <td class="py-2">1</td>
                            <td class="py-2">10001</td>
                            <td class="py-2">Xương rồng</td>
                            <td class="py-2">Cây cảnh</td>
                            <td class="py-2">4.500.000</td>
                            <td class="py-2">
                                <div class="flex">
                                    <button
                                        class="flex items-center justify-center rounded bg-blue-500 px-4 py-1.5 text-white hover:bg-blue-400"
                                    >
                                        <span class="pr-1">
                                            <i class="fa-solid fa-circle-plus"></i>
                                        </span>
                                        <span>Sửa</span>
                                    </button>
                                    <button
                                        class="flex items-center ml-2 justify-center rounded bg-red-500 px-4 py-1.5 text-white hover:bg-red-400"
                                    >
                                        <span class="pr-1">
                                            <i class="fa-solid fa-circle-plus"></i>
                                        </span>
                                        <span>Xoá</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>10002</td>
                            <td>Sen đá</td>
                            <td>Cây cảnh</td>
                            <td>4.500.000</td>
                            <td>
                                <button type="submit" class="bnt bnt-add form-control">
                                    <span class="button-icon">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </span>
                                    <span class="button-text">Sửa</span>
                                </button>
                                <button type="submit" class="bnt bnt-close form-control">
                                    <span class="button-icon">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </span>
                                    <span class="button-text">Xóa</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>10003</td>
                            <td>Cây Nhật Mạt Hương</td>
                            <td>Sen đá</td>
                            <td>4.500.000</td>
                            <td>
                                <div class="btn-form">
                                    <button type="submit" class="bnt bnt-add form-control">
                                        <span class="button-icon">
                                            <i class="fa-solid fa-circle-plus"></i>
                                        </span>
                                        <span class="button-text">S ửa</span>
                                    </button>
                                    <button type="submit" class="bnt bnt-close form-control">
                                        <span class="button-icon">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                        </span>
                                        <span class="button-text">Xóa</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>10004</td>
                            <td>Cây sen đá kim cương tím</td>
                            <td>Sen đá</td>
                            <td>4.500.000</td>
                            <td>
                                <div class="btn-form">
                                    <button type="submit" class="bnt bnt-add form-control">
                                        <span class="button-icon">
                                            <i class="fa-solid fa-circle-plus"></i>
                                        </span>
                                        <span class="button-text">Sửa</span>
                                    </button>
                                    <button type="submit" class="bnt bnt-close form-control">
                                        <span class="button-icon">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                        </span>
                                        <span class="button-text">Xóa</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>10005</td>
                            <td>Sen đá Giva</td>
                            <td>Sen đá</td>
                            <td>4.500.000</td>
                            <td class="btn_cell">
                                <div class="btn-form">
                                    <button type="submit" class="bnt bnt-add form-control">
                                        <span class="button-icon">
                                            <i class="fa-solid fa-circle-plus"></i>
                                        </span>
                                        <span class="button-text">Sửa</span>
                                    </button>
                                    <button type="submit" class="bnt bnt-close form-control">
                                        <span class="button-icon">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                        </span>
                                        <span class="button-text">Xóa</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <!-- *@ -->
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
