<!DOCTYPE html>
<html lang="en" class="h-full w-60">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/tailwind.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        />
        <title>Document</title>
    </head>
    <body class="min-w-60 flex h-full flex-col bg-blue-500">
        <header class="mb-8 h-16 w-full bg-slate-400"></header>

        <!-- MENU -->
        <ul class="flex flex-col space-y-1 overflow-y-auto p-2">
            <!-- Menu group item -->
            <li>
                <!-- Parent menu item -->
                <div
                    class="active group flex cursor-pointer items-center justify-between rounded-md px-4 py-3 text-white hover:bg-blue-400 [&.active]:bg-blue-400"
                >
                    <div class="flex items-center">
                        <span class="pr-2"
                            ><i class="fa-solid fa-house"></i
                        ></span>
                        <span class="font-medium">Trang chủ</span>
                    </div>
                    <span class="hidden transition group-[&.open]:rotate-90">
                        <i class="fa-solid fa-chevron-right"></i>
                    </span>
                </div>
            </li>

            <!-- Menu group item -->
            <li>
                <!-- Parent menu item -->
                <div
                    class="open group peer flex cursor-pointer items-center justify-between rounded-md px-4 py-3 text-white hover:bg-blue-400 [&.active]:bg-blue-400"
                >
                    <div class="flex items-center">
                        <span class="pr-2"
                            ><i class="fa-solid fa-box-open"></i
                        ></span>
                        <span class="font-medium">Sản phẩm</span>
                    </div>
                    <span class="transition group-[&.open]:rotate-90"
                        ><i class="fa-solid fa-chevron-right"></i
                    ></span>
                </div>

                <!-- Children menu -->
                <ul class="hidden space-y-2 peer-[&.open]:block">
                    <li
                        class="flex cursor-pointer items-center pl-10 pr-3 text-white hover:underline [&.active]:underline"
                    >
                        <span class="pr-2"
                            ><i class="fa-solid fa-list"></i
                        ></span>
                        <span>Danh sách</span>
                    </li>
                    <li
                        class="flex cursor-pointer items-center pl-10 pr-3 text-white hover:underline [&.active]:underline"
                    >
                        <span class="pr-2"
                            ><i class="fa-solid fa-circle-plus"></i
                        ></span>
                        <span>Thêm</span>
                    </li>
                </ul>
            </li>

            <!-- Menu group item -->
            <li>
                <!-- Parent menu item -->
                <div
                    class="open group peer flex cursor-pointer items-center justify-between rounded-md px-4 py-3 text-white hover:bg-blue-400 [&.active]:bg-blue-400"
                >
                    <div class="flex items-center">
                        <span class="pr-2"
                            ><i class="fa-solid fa-house"></i
                        ></span>
                        <span class="font-medium">Trang chủ</span>
                    </div>
                    <span class="transition group-[&.open]:rotate-90"
                        ><i class="fa-solid fa-chevron-right"></i
                    ></span>
                </div>

                <!-- Children menu -->
                <ul class="hidden space-y-2 peer-[&.open]:block">
                    <li
                        class="flex cursor-pointer items-center pl-10 pr-3 text-white hover:underline [&.active]:underline"
                    >
                        <span class="pr-2"
                            ><i class="fa-solid fa-house"></i
                        ></span>
                        <span>Trang chủ</span>
                    </li>
                    <li
                        class="flex cursor-pointer items-center pl-10 pr-3 text-white hover:underline [&.active]:underline"
                    >
                        <span class="pr-2"
                            ><i class="fa-solid fa-house"></i
                        ></span>
                        <span>Trang chủ</span>
                    </li>
                </ul>
            </li>
        </ul>
    </body>
</html>
